numpy
matplotlib
keras
scipy
tensorflow
tensorflow_io
tensorflow_hub
tensorflow-addons
librosa
essentia
frechet-audio-distance
pretty_midi
resampy
scikit-learn
soundfile
tqdm
transformers
torch
torchaudio
torchvision